<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>BIENVENIDO </title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css">
</head>

<body>

	<div class="container">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a class="nav-link" href="/entradas">Entradas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link active" href="/sopas">Sopas</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="/postres">Postres</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" href="bebidas">Bebidas</a>
			</li>
		</ul>


<div style="width: 4%; float: right;">
<strong><p>Registre</p></strong>
	<a href="/login/cargar">
		<img class="card-img-top" th:src="@{/img/login.jpg}" widht="30" height="30">
	</a>
	</div>
	
	<div class="container">
		<h1>Eliga la sopa que desee</h1>
		<div>
			<br>

			<div class="row">

				<div class="card" style="width: 18rem;">
					<img class="card-img-top" th:src="@{/img/caldo1.jpg}" widht="400" height="200">
					<div class="card-body">
						<h5 class="card-title">CALDO BLANCO</h5>
						<p class="card-text">Precio: 10 Soles</p>
						<a href="/compra/cargar" class="btn btn-primary">Registrar</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" th:src="@{/img/CHUPE.png}" widht="400" height="200">
					<div class="card-body">
						<h5 class="card-title">CHUPE DE VIERNES</h5>
						<p class="card-text">Precio: 10 Soles</p>
						<a href="/compra/cargar" class="btn btn-primary">Registrar</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" th:src="@{/img/caldo2.png}" widht="400" height="200">
					<div class="card-body">
						<h5 class="card-title">CALDO DE QUINUA</h5>
						<p class="card-text">Precio: 8 Soles</p>
						<a href="/compra/cargar" class="btn btn-primary">Registrar</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" th:src="@{/img/caldo3.jpg}" widht="400" height="200">
					<div class="card-body">
						<h5 class="card-title">SOPA DE LIMA</h5>
						<p class="card-text">Precio: 10 Soles</p>
						<a href="/compra/cargar" class="btn btn-primary">Registrar</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" th:src="@{/img/caldo4.jpg}" widht="400" height="200">
					<div class="card-body">
						<h5 class="card-title">SOPA TARASCA</h5>
						<p class="card-text">Precio: 8 Soles</p>
						<a href="/compra/cargar" class="btn btn-primary">Registrar</a>
					</div>
				</div>
				<div class="card" style="width: 18rem;">
					<img class="card-img-top" th:src="@{/img/caldo5.jpg}" widht="400" height="200">
					<div class="card-body">
						<h5 class="card-title">SOPA DE TORTILLA</h5>
						<p class="card-text">Precio: 8 Soles</p>
						<a href="/compra/cargar" class="btn btn-primary">Registrar</a>
					</div>
				</div>

			</div>
		</div>
	

	<strong>
		<label for="inputSopas">Listado de Sopas</label>
			<br>
			<a href="/listar/sopas" class="btn btn-primary">Ver mas</a>
			</div>
	</strong>
	<br>
	<br>
	<a href="/login/cargar" class="btn btn-primary">Salir</a>

</body>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"></script>

</html>